#header {
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;

        background-color: #102e4d;
    }
 
    img {
        height: 70px;
    }
   
 }

 #grid-users {
     display: grid;
     margin-top: 25px;
     justify-content: center;
     gap: 5%;
     grid-template-areas:'card card card card';

    .card-user {
        :nth-child(3){
            background-color: #102e4d;
            border: none;
        }
        :nth-child(3):hover{
            background-color: #428fdc;
        }

        :nth-child(4){
            border: none;
        }
        :nth-child(4):hover{
            background-color: #2a2c2e;
        }
 
    }

    #card-users .delete-button{
        display: flex;
        text-align: right;
        position: absolute;

        border: none;
        border-radius: 30%;
    
        background-color: #102e4d;
        color: white;
        padding: 10px;

        z-index: 1;
    }
}

 @media (max-width: 425px){
    #header {
        .navbar {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .form-inline {
            margin: 15px auto;

            .btn.btn-light{
            display: flex;
            margin: 15px 0px 5px  0;
        }
    }}

    #grid-users {
        grid-template-areas: 'card';
        .card-user {
            margin: 15px auto;
        }
    }
 }