#header {
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;

        background-color: #102e4d;
    }
 
    img {
        height: 70px;
    }
   
 }

 #grid-users {
     display: grid;
     margin-top: 25px;
     justify-content: center;
     gap: 5%;
     grid-template-areas:'card card card';

    .card-user {
        :nth-child(3){
            background-color: #102e4d;
            border: none;
        }
        :nth-child(3):hover{
            background-color: #428fdc;
        }

        :nth-child(4){
            border: none;
        }
        :nth-child(4):hover{
            background-color: #2a2c2e;
        }
 
    }

    #card-users .delete-button{
        display: flex;
        position: absolute;
        margin: 25px 0px 0 14rem;

        border-radius: 30%;
    
        background-color: #102e4d;
        color: white;
        padding: 8px;

        z-index: 1;
    }

    #card-users .delete-button:hover {
         background-color: #428fdc;
     }
}

#buttons-page {
    display: flex;
    justify-content: space-between;
    margin: 25px 25px;

    :nth-child(1) {
        border-color: white;
        border-radius: 10px 0 0 10px;
        background-color: #102e4d;
    }
    :nth-child(2) {
        border-color: white;
        border-radius: 0px 10px 10px 0px;
        background-color: #102e4d;
    }
    
}

 @media (max-width: 425px){
    #header {
        .navbar {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .form-inline {
            margin: 15px auto;

            .btn.btn-light{
            display: flex;
            margin: 15px 0px 5px  0;
        }
    }}

    #grid-users {
        grid-template-areas: 'card';
        .card-user {
            margin: 15px auto;
        }

        #card-users .delete-button{
            margin: 25px 0px 0 195px;
        }
    }

    #buttons-page {
        position: fixed;
        bottom: 0;
        z-index: 1000;
        

        :nth-child(1) {
            border-color: white;
            border-radius: 10px 0 0 10px;
            background-color: #102e4d;
        }
        :nth-child(2) {
            border-color: white;
            border-radius: 0px 10px 10px 0px;
            background-color: #102e4d;
        }

        :nth-child(1):hover,
        :nth-child(2):hover {
            background-color: #102e4d;
        }
    }

    
 }

 @media (min-width: 768px){
    #grid-users {
        grid-template-areas: 'card card';}
 }

 @media (min-width: 1024px){
    #grid-users {
        grid-template-areas: 'card card card';}
 }
